@import url("./navBar.css");
@import url("./rootColor.css");

*{
    /* margin: 0; */
    /* padding:0; */
    box-sizing: brder-box;
}
body{
    width: 100vw;
    height: 100vh;
    background:var(--backgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:var(--textColor);
    text-shadow:var(--textShadow)
}
.contactMe{
    text-shadow:none;
    font-weight:bolder;
}
.contactMe:hover{
    font-size: 1.5rem;
}