@import url("./navBar.css");
@import url("./rootColor.css");

*{
    margin: 0;
    padding:0;
    box-sizing: brder-box;
}
body{
    width: 100vw;
    height: 100vh;
    background:var(--backgroundGradient);
    color:var(--primaryLight)
}

.card{
width:400px;
height:600px'
}
.card-overflow{
    overflow:auto;
    max-height: 100px;
}